In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
#read the dataset

df1 = spark.read.option('header','true').csv('Age.csv')

In [3]:
#check the schema
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [5]:
df2 = spark.read.csv('Age.csv',header = True,inferSchema = True)
df2.show()

+---------------+---+
|           Name|Age|
+---------------+---+
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+

### Select Cols

In [6]:
df2.select('Name').show()

+---------------+
|           Name|
+---------------+
|Pritom Hazarika|
|     Juna Dutta|
|Pritty Hazarika|
|Sanjoy Hazarika|
|Monika Hazarika|
+---------------+

In [7]:
df2.select('Name','Age').show()

+---------------+---+
|           Name|Age|
+---------------+---+
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+

### Check Data Types

In [9]:
df2.dtypes

[('Name', 'string'), ('Age', 'int')]

In [10]:
df2.describe().show()

+-------+---------------+------------------+
|summary|           Name|               Age|
+-------+---------------+------------------+
|  count|              5|                 5|
|   mean|           null|              37.8|
| stddev|           null|17.782013384316187|
|    min|     Juna Dutta|                22|
|    max|Sanjoy Hazarika|                60|
+-------+---------------+------------------+

### Adding Cols and Droping Cols

In [13]:
#Adding col

df3 = df2.withColumn('Work Experience',df2['age']-6)

In [15]:
df3.show()

+---------------+---+---------------+
|           Name|Age|Work Experience|
+---------------+---+---------------+
|Pritom Hazarika| 28|             22|
|     Juna Dutta| 25|             19|
|Pritty Hazarika| 22|             16|
|Sanjoy Hazarika| 60|             54|
|Monika Hazarika| 54|             48|
+---------------+---+---------------+

In [16]:
#drop col
df3 = df3.drop('Work Experience')
df3.show()

+---------------+---+
|           Name|Age|
+---------------+---+
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+

In [17]:
#rename col

df3 = df3.withColumnRenamed('Name','FirstName')
df3.show()

+---------------+---+
|      FirstName|Age|
+---------------+---+
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+