In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [2]:
df = spark.read.csv('Filter_Book.csv',header = True,inferSchema = True)
df.show()

+--------+---+----------+-------+
|    Name|Age|Experience| Salary|
+--------+---+----------+-------+
|  Pritom| 28|         2| 856000|
|  Nilesh| 29|         2| 530000|
|  Vishal| 27|         6|1500000|
|Debasish| 35|         6|1200000|
+--------+---+----------+-------+

### Filter operations

In [3]:
### salary of people less then 600000

df.filter("Salary <= 600000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Nilesh| 29|         2|530000|
+------+---+----------+------+

In [4]:
df.filter("Salary <= 600000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Nilesh| 29|
+------+---+

In [6]:
df.filter(df['Salary']<=600000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Nilesh| 29|         2|530000|
+------+---+----------+------+

In [7]:
## and operation
df.filter((df['Salary']>=600000)&(df['Salary']<=1000000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Pritom| 28|         2|856000|
+------+---+----------+------+

In [8]:
df.filter(~(df['Salary']<=600000)).show()

+--------+---+----------+-------+
|    Name|Age|Experience| Salary|
+--------+---+----------+-------+
|  Pritom| 28|         2| 856000|
|  Vishal| 27|         6|1500000|
|Debasish| 35|         6|1200000|
+--------+---+----------+-------+