In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=156568f4d8dbc9f57b43053e2c03cb3fedfb1ae6992000e38825581d588326c1
  Stored in directory: c:\users\mimik\appdata\local\pip\cache\wheels\df\88\9e\58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('Age.csv')

              Name  Age
0  Pritom Hazarika   28
1       Juna Dutta   25
2  Pritty Hazarika   22
3  Sanjoy Hazarika   60
4  Monika Hazarika   54

to use pyspark we have to create a spark session first:

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
spark

Only one cluster (Master) since we are working in the local environment, If we run it in multiple server, multiple clusters will be showed

In [6]:
# Read a dataset

df_pyspark = spark.read.csv('Age.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+---------------+---+
|            _c0|_c1|
+---------------+---+
|           Name|Age|
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+

In [9]:
# solve the heading issue
df_pyspark_2 = spark.read.option('header','true').csv('Age.csv')
df_pyspark_2.show()

+---------------+---+
|           Name|Age|
+---------------+---+
|Pritom Hazarika| 28|
|     Juna Dutta| 25|
|Pritty Hazarika| 22|
|Sanjoy Hazarika| 60|
|Monika Hazarika| 54|
+---------------+---+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark_2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)