In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Parctice').getOrCreate()

In [3]:
DF1 = spark.read.csv('test2.csv',header=True,inferSchema = True)

In [5]:
DF1.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 70000|
|Sudhansgu|  30|        22| 30050|
|   Pritom|  28|        12| 90000|
|     Juna|  25|        31| 60000|
|   Pritty|  22|        21| 70000|
|   Sanjoy|  60|        21| 50000|
|   Monika|null|      null| 10000|
|     null|  24|        10| 35000|
|     null|  23|      null|  null|
+---------+----+----------+------+

In [6]:
#drop columns
DF1.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 70000|
|  30|        22| 30050|
|  28|        12| 90000|
|  25|        31| 60000|
|  22|        21| 70000|
|  60|        21| 50000|
|null|      null| 10000|
|  24|        10| 35000|
|  23|      null|  null|
+----+----------+------+

In [8]:
#drope null value rows
#drop all rows which have null value

DF1.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 70000|
|Sudhansgu| 30|        22| 30050|
|   Pritom| 28|        12| 90000|
|     Juna| 25|        31| 60000|
|   Pritty| 22|        21| 70000|
|   Sanjoy| 60|        21| 50000|
+---------+---+----------+------+

In [9]:
### any==how
DF1.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 70000|
|Sudhansgu| 30|        22| 30050|
|   Pritom| 28|        12| 90000|
|     Juna| 25|        31| 60000|
|   Pritty| 22|        21| 70000|
|   Sanjoy| 60|        21| 50000|
+---------+---+----------+------+

In [10]:
DF1.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 70000|
|Sudhansgu|  30|        22| 30050|
|   Pritom|  28|        12| 90000|
|     Juna|  25|        31| 60000|
|   Pritty|  22|        21| 70000|
|   Sanjoy|  60|        21| 50000|
|   Monika|null|      null| 10000|
|     null|  24|        10| 35000|
|     null|  23|      null|  null|
+---------+----+----------+------+

In [12]:
### threshold

DF1.na.drop(how='any',thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 70000|
|Sudhansgu|  30|        22| 30050|
|   Pritom|  28|        12| 90000|
|     Juna|  25|        31| 60000|
|   Pritty|  22|        21| 70000|
|   Sanjoy|  60|        21| 50000|
|   Monika|null|      null| 10000|
|     null|  24|        10| 35000|
+---------+----+----------+------+

In [13]:
## Subset  = drop rows if null present in specific col
DF1.na.drop(how='any',subset=['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 70000|
|Sudhansgu|  30|        22| 30050|
|   Pritom|  28|        12| 90000|
|     Juna|  25|        31| 60000|
|   Pritty|  22|        21| 70000|
|   Sanjoy|  60|        21| 50000|
|   Monika|null|      null| 10000|
+---------+----+----------+------+

In [15]:
DF1.na.fill('Missing Value',['Name','Age']).show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|        Krish|  31|        10| 70000|
|    Sudhansgu|  30|        22| 30050|
|       Pritom|  28|        12| 90000|
|         Juna|  25|        31| 60000|
|       Pritty|  22|        21| 70000|
|       Sanjoy|  60|        21| 50000|
|       Monika|null|      null| 10000|
|Missing Value|  24|        10| 35000|
|Missing Value|  23|      null|  null|
+-------------+----+----------+------+

In [18]:
#missing value with mean

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [19]:
imputer.fit(DF1).transform(DF1).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 70000|         31|                10|         70000|
|Sudhansgu|  30|        22| 30050|         30|                22|         30050|
|   Pritom|  28|        12| 90000|         28|                12|         90000|
|     Juna|  25|        31| 60000|         25|                31|         60000|
|   Pritty|  22|        21| 70000|         22|                21|         70000|
|   Sanjoy|  60|        21| 50000|         60|                21|         50000|
|   Monika|null|      null| 10000|         30|                18|         10000|
|     null|  24|        10| 35000|         24|                10|         35000|
|     null|  23|      null|  null|         23|                18|         51881|
+---------+----+----------+------+-----------+------------------+--------------+