In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [2]:
df = spark.read.csv('Grouping.csv',header = True,inferSchema = True)
df.show()

+--------+------------+------+
|    Name|  Depertment|Salary|
+--------+------------+------+
|  Pritom|Data Science| 10000|
|  Pritom|         IOT|  5000|
|    Juna|     Bigdata| 60000|
|  Pritty|    Accounts|  5000|
|    Ravi|Data Science| 10000|
|   Vinay|         IOT|  8000|
|Rajeswar|     Bigdata|  2000|
+--------+------------+------+

### Group by

In [5]:
df.groupBy('Depertment').sum().show()

+------------+-----------+
|  Depertment|sum(Salary)|
+------------+-----------+
|         IOT|      13000|
|    Accounts|       5000|
|     Bigdata|      62000|
|Data Science|      20000|
+------------+-----------+

In [6]:
df.groupBy('Depertment').min().show()

+------------+-----------+
|  Depertment|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|    Accounts|       5000|
|     Bigdata|       2000|
|Data Science|      10000|
+------------+-----------+

In [7]:
df.groupBy('Depertment').avg().show()

+------------+-----------+
|  Depertment|avg(Salary)|
+------------+-----------+
|         IOT|     6500.0|
|    Accounts|     5000.0|
|     Bigdata|    31000.0|
|Data Science|    10000.0|
+------------+-----------+